@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css");
// @import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster+Two:wght@700&family=Open+Sans:wght@300;500;700&display=swap");

// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import "@/node_modules/bootstrap/scss/functions";

$primary: #000; // #3b153d;
$secondary: #755df1; // #8e3c69; // rgba(0, 0, 0, 0.5); // #b185d6;
$light: #ddd;

$body-bg: #f4f4f4;
$link-decoration: none;

$border-color: #ddd;

//typography
$font-family-base: "Open Sans", sans-serif;
$font-weight-base: 300;
// $font-size-base: 1rem;
$line-height-base: 1.54;

$headings-font-weight: 700;
$headings-line-height: 1.4;

// $h2-font-size: 1rem;
// $font-size-base: 0.8rem;
// $h2-font-size: $font-size-base * 1.1;

// $font-sizes: (
//   1: 1.75rem,
//   2: 1.375rem,
//   3: 1.25rem,
//   4: 1.125rem,
//   5: 1.05rem,
//   6: 1rem,
// );

// buttons
$btn-active-box-shadow: 0;
$btn-focus-width: 0;
$btn-padding-y: 0.5rem;
$btn-padding-x: 1.2rem;
$btn-border-width: 3;
$btn-border-color: transparent;
$btn-border-radius: 12px;
$btn-font-weight: 500;

$enable-smooth-scroll: false;

$breadcrumb-active-color: $secondary;

// badges
$badge-font-size: 0.7em;
$badge-font-weight: 500;
// $badge-color: $white;
$badge-padding-x: 0.7em;
$badge-padding-y: 0.35em;

// 3. Include remainder of required Bootstrap stylesheets
@import "@/node_modules/bootstrap/scss/variables";
@import "@/node_modules/bootstrap/scss/mixins";
@import "@/node_modules/bootstrap/scss/maps";
@import "@/node_modules/bootstrap/scss/utilities";

// 4. Include any optional Bootstrap components as you like
@import "@/node_modules/bootstrap/scss/root";
@import "@/node_modules/bootstrap/scss/reboot";
@import "@/node_modules/bootstrap/scss/images";
@import "@/node_modules/bootstrap/scss/containers";
@import "@/node_modules/bootstrap/scss/grid";
@import "@/node_modules/bootstrap/scss/navbar";
@import "@/node_modules/bootstrap/scss/buttons";
@import "@/node_modules/bootstrap/scss/dropdown";
@import "@/node_modules/bootstrap/scss/modal";
@import "@/node_modules/bootstrap/scss/close"; // = close button
@import "@/node_modules/bootstrap/scss/breadcrumb";
@import "@/node_modules/bootstrap/scss/badge";

// Helpers
@import "@/node_modules/bootstrap/scss/helpers/position";
@import "@/node_modules/bootstrap/scss/helpers/stacks";
@import "@/node_modules/bootstrap/scss/helpers/ratio";

// Utilities
@import "@/node_modules/bootstrap/scss/utilities/api";

.cursor-pointer {
  cursor: pointer;
}

body {
  width: 100%;
  // scroll-behavior: auto !important;

  &.modal-open {
    overflow-y: hidden;
    position: fixed;
  }
}

.is-blurred {
  filter: blur(4px);
  -webkit-filter: blur(4px);
  transition: filter 0.3s linear;
}

.bg-secondary,
.btn-secondary {
  background: rgb(117, 93, 241);
  background: linear-gradient(
    141deg,
    rgba(117, 93, 241, 1) 0%,
    rgba(149, 94, 174, 1) 81%
  );
  color: #fff;
  transition: filter 0.24s linear !important;

  &:hover,
  &:active:hover,
  &:focus {
    filter: hue-rotate(77deg);
  }
}

.page-enter-active,
.page-leave-active {
  transition: all 0.3s cubic-bezier(0.2, 0, 0.1, 1);
}
.page-enter,
.page-leave-active {
  opacity: 0.1;
  transform: translateY(60px);
}

.list-inline {
  padding-left: 0;

  li {
    $size: 6px; // bullet size
    $padding: 1.7rem;
    $line-height: 24.64px; // 16 * $line-height-base

    display: inline;
    position: relative;
    padding-right: $padding;

    &:not(:first-of-type)::before {
      position: absolute;
      content: "";
      z-index: 2;
      left: calc(($padding / -2) - $size);
      top: calc($line-height/2 - $size/2 - 1px);
      width: $size;
      height: $size;
      border-radius: 50%;
      background-color: var(--bs-secondary);
    }
  }
}

.fade-in-up {
  animation: slide-in 0.7s cubic-bezier(0.2, 0, 0.1, 1) both;
  will-change: transform, opacity;
  animation-play-state: paused;

  // @include from(m) {
  // }
}

.start-animation {
  animation-play-state: running !important;
}

@keyframes slide-in {
  from {
    transform: translateY(60px); // scaleY(1.2)
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fade-in {
  animation: fade-in 0.7s cubic-bezier(0.2, 0, 0.1, 1) both;
  will-change: opacity;
  animation-play-state: paused;
}

// card

.card {
  h2 {
    font-size: 1rem;

    @include media-breakpoint-up(lg) {
      font-size: 1.125rem;
    }
  }
}

// .display-card {
//   h2 {

//   }
// }
